.animationContainer
    display: flex
    align-content: center
    align-items: center

.document
    background: var(--colour-light-bg)
    width: 80px
    height: 100px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
    row-gap: 2px
    column-gap: 1px
    padding: 8px
    &>*:nth-child(7n)
        width: 10px
    &>*:nth-child(7n+1)
        width: 8px
    &>*:nth-child(7n+2)
        width: 20px
    &>*:nth-child(7n+3)
        width: 16px
    &>*:nth-child(7n+4)
        width: 8px
    &>*:nth-child(7n+5)
        width: 32px
    &>*:nth-child(7n+6)
        width: 24px
    &>*:nth-child(7n+7)
        width: 12px
    &>*:nth-child(11n)
        width: 10px
    &>*:nth-child(11n+1)
        width: 8px
    &>*:nth-child(11n+2)
        width: 20px
    animation: ingestDocument 20s ease 0s infinite normal none
    position: relative
    z-index: 1
@keyframes ingestDocument
    0%
        left: 0
    25%
        left: 0
    30%, 100%
        left: 250px

.logoQG
    position: relative
    background: white
    border-radius: 80px
    width: 160px
    left: 120px
    z-index: 2
    animation: yumYumQG 20s linear 0s infinite normal none
@keyframes yumYumQG
    0%
        transform: rotate(0deg)
    30%
        transform: rotate(0deg)
    32%
        transform: rotate(360deg)
    34%
        transform: rotate(720deg)
        transform-origin: 50% 50%
    36%, 37%, 38%
        transform: rotate(710deg)
    36.5%, 37.5%, 38.5%
        transform: rotate(730deg)
    39%
        transform: rotate(712deg)
    40%
        transform: rotate(728deg)
    41%
        transform: rotate(720deg)
    43%, 44%, 45%, 46%, 47%
        transform: scale(1)
    43.5%
        transform: scale(1.1)
    44.5%
        transform: scale(1.2)
    45.5%
        transform: scale(1.3)
    46.5%
        transform: scale(1.6)
    100%
        transform: rotate(720deg)

.card
    font-size: 30px
    font-weight: bolder
    width: 40px
    height: 60px
    display: flex
    align-items: center
    justify-content: center

    transform-style: preserve-3d

    animation-name: rotateAndShow, spewExpand, hideUntilOut
    animation-duration: 20s
    animation-iteration-count: infinite
    animation-timing-function: ease
    animation-direction: normal
    animation-fill-mode: none
    &>.back, &>.front
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        backface-visibility: hidden
        transform-style: preserve-3d
        animation: hideUntilOutEarly 10s ease 0s infinite normal none
    &>.back
        transform: rotateY(180deg)
        color: black
        opacity: 1
    &>.front
        background: black
        color: white
        opacity: 1

@keyframes rotateAndShow
    0%, 54%
        transform: rotateY(0deg)
    58%, 100%
        transform: rotateY(180deg)

@keyframes hideUntilOutEarly
    0%, 47%, 96%, 100%
        opacity: 0
    48%, 95%
        opacity: 1

@keyframes hideUntilOut
    0%, 47%, 96%, 100%
        opacity: 0
    50%, 95%
        opacity: 1
        
@keyframes spewExpand
    0%, 48.5%
        height: 0
    50%, 100%
        height: 60px
        
.cardsContainer
    position: relative
    display: flex
    flex-direction: column
    gap: 8px
    background: none
    &>*.card>*
        animation: hideUntilOut 20s ease 0.9s infinite normal none
        // animation: hideUntilOut 5s ease 0s infinite normal none
    &>*:nth-child(1)
        animation-delay: 0.3s
        *.back
            background: var(--colour-list-1)
    &>*:nth-child(2)
        animation-delay: 0.6s
        *.back
            background: var(--colour-list-2)
    &>*:nth-child(3)
        animation-delay: 0.9s
        *.back
            background: var(--colour-list-3)
    animation: spewCards 20s ease 0s infinite normal none
@keyframes spewCards
    0%, 48%
        left: 15px
    50%, 100%
        left: 200px
        
.textLine
    background: black
    height: 4px
    width: 4px

.highlight
    animation: highlightOn 20s ease calc( var(--h-n) * 0.2s ) infinite normal none
@keyframes highlightOn
    0%
        background: black
    2.5%
        background: blue
    40%
        background: blue
    42%
        background: black
    100%
        background: black
