.imagePane
    display: flex
    &.left
        flex-direction: row
    &.right
        flex-direction: row-reverse
    
    &.inset
        background-color: var(--colour-primary-theme)

.contentContainer
    padding: 16px
    align-self: center
    background: var(--bg-colour)
    &.inset
        margin: 0 -60px 0 60px

.imageContainer
    &.inset
        margin: 24px