.subscribeForm
    background: var(--colour-primary-theme)
    display: flex
    flex-direction: row
    padding: 8px
    color: var(--colour-text-on-primary)
    form
        display: flex
        flex-direction: row
        width: 100%
        gap: 8px
        align-items: center
        align-content: space-around
        input
            font-size: var(--font-size-normal)